html {
  background-image: url("/Background.png");
  background-size: cover;
  background-position: center;
}

body {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.831) 0%,
    rgba(255, 255, 255, 0) 30%
  );
}

.wrapper {
  max-width: 1425px;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 40px 20px 40px;
  @media screen and (max-width: $x-small) {
    padding: 50px 20px 20px 20px;
  }
  &--dark {
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 70%;
      z-index: 10;
    }
  }
}

.main {
  margin-top: 60px;
  height: calc(100% - 96px);
  display: grid;
}
.slide {
  width: 100%;
  height: 100%;
  &__title {
    font-size: 46px;
  }
}
.swiper {
  width: 100%;
}
.swiper-pagination {
  position: fixed !important;
  display: flex !important;
  flex-direction: column !important;
  right: unset !important;
  left: 50px !important;
}
.swiper-pagination-bullet {
  margin: 10px !important;
  width: 15px !important;
  height: 15px !important;
  background: var(--white) !important;
  opacity: 25% !important;
  &-active {
    opacity: unset !important;
  }
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.scale-enter-active,
.scale-leave-active {
  transition: transform 0.5s ease;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0);
}
